<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.wechat.dao.WXPublic">

    <!--mybatis会调用user.getWxPublicCode()来替换#{wxPublicCode}-->
    <insert id="insert" parameterType="com.demo.wechat.dao.WXPublic">
        INSERT INTO WXPUBLIC (WXPUBLIC_OPENID,WXPUBLIC_NAME,WXPUBLIC_NICKNAME,WXPUBLIC_HEADIMG,WXPUBLIC_QRCODE,WXPUBLIC_APPID,WXPUBLIC_APPSERCT,WXPUBLIC_TOKEN,WXPUBLIC_AESKEY,WXPUBLIC_URL)
        VALUES (#{wxPublicOpenid},#{wxPublicName},#{wxPublicNickName},#{wxPublicHeadImg},#{wxPublicQrcode},#{wxPublicAppid},#{wxPublicAppSerct},#{wxPublicToken},#{wxPublicAeskey},#{wxPublicUrl})
    </insert>

    <select id="selectById" parameterType="int" resultType="com.demo.wechat.dao.WXPublic">
        select WXPUBLIC_CODE,WXPUBLIC_OPENID,WXPUBLIC_NAME from WXPUBLIC where WXPUBLIC_CODE= #{wxPublicCode}
    </select>

    <update id="updateById" parameterType="com.demo.wechat.dao.WXPublic">
       UPDATE WXPUBLIC SET WXPUBLIC_OPENID=#{wxPublicOpenid},
                           WXPUBLIC_NAME=#{wxPublicName},
                           WXPUBLIC_NICKNAME=#{wxPublicNickName},
                           WXPUBLIC_HEADIMG=#{wxPublicHeadImg},
                           WXPUBLIC_QRCODE=#{wxPublicQrcode},
                           WXPUBLIC_APPID=#{wxPublicAppid},
                           WXPUBLIC_APPSERCT=#{wxPublicAppSerct},
                           WXPUBLIC_TOKEN=#{wxPublicToken},
                           WXPUBLIC_AESKEY=#{wxPublicAeskey},
                           WXPUBLIC_URL=#{wxPublicUrl}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM WXPUBLIC WHERE WXPUBLIC_CODE=#{wxPublicCode}
    </delete>

</mapper>