logging:
  level:
    org.springframework.web: DEBUG
    com.github.binarywang.demo.wechat: DEBUG


wechat:
  mp:
    appId: wxfab20b95598bfb32
    secret: 6ef63eee61e331fcd3cd12c5330c211b
    token: minstoneweixin
    aesKey: Gpavu82pzlG5fNyGB6gDC2hkR9ZRdiO6ADrMLwpPuN2
server:
  context-path: /wechat/api