<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minstone.wechat.dao.WxPublicConfigMapper">
  <resultMap id="BaseResultMap" type="com.minstone.wechat.domain.WxPublicConfig">
    <id column="CONFIG_CODE" jdbcType="VARCHAR" property="configCode" />
    <result column="PUBLIC_CODE" jdbcType="VARCHAR" property="publicCode" />
    <result column="CUSMENU_FLAG" jdbcType="INTEGER" property="cusmenuFlag" />
    <result column="TO_KEFU_FLAG" jdbcType="INTEGER" property="toKefuFlag" />
    <result column="PUSH_FLAG" jdbcType="INTEGER" property="pushFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    CONFIG_CODE, PUBLIC_CODE, CUSMENU_FLAG, TO_KEFU_FLAG, PUSH_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from MP_YY_PUB_CONFIG
    where CONFIG_CODE = #{configCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from MP_YY_PUB_CONFIG
    where CONFIG_CODE = #{configCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.minstone.wechat.domain.WxPublicConfig">
    insert into MP_YY_PUB_CONFIG (CONFIG_CODE, PUBLIC_CODE, CUSMENU_FLAG, 
      TO_KEFU_FLAG, PUSH_FLAG)
    values (#{configCode,jdbcType=VARCHAR}, #{publicCode,jdbcType=VARCHAR}, #{cusmenuFlag,jdbcType=INTEGER}, 
      #{toKefuFlag,jdbcType=INTEGER}, #{pushFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.minstone.wechat.domain.WxPublicConfig">
    insert into MP_YY_PUB_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="configCode != null">
        CONFIG_CODE,
      </if>
      <if test="publicCode != null">
        PUBLIC_CODE,
      </if>
      <if test="cusmenuFlag != null">
        CUSMENU_FLAG,
      </if>
      <if test="toKefuFlag != null">
        TO_KEFU_FLAG,
      </if>
      <if test="pushFlag != null">
        PUSH_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="configCode != null">
        #{configCode,jdbcType=VARCHAR},
      </if>
      <if test="publicCode != null">
        #{publicCode,jdbcType=VARCHAR},
      </if>
      <if test="cusmenuFlag != null">
        #{cusmenuFlag,jdbcType=INTEGER},
      </if>
      <if test="toKefuFlag != null">
        #{toKefuFlag,jdbcType=INTEGER},
      </if>
      <if test="pushFlag != null">
        #{pushFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.minstone.wechat.domain.WxPublicConfig">
    update MP_YY_PUB_CONFIG
    <set>
      <if test="publicCode != null">
        PUBLIC_CODE = #{publicCode,jdbcType=VARCHAR},
      </if>
      <if test="cusmenuFlag != null">
        CUSMENU_FLAG = #{cusmenuFlag,jdbcType=INTEGER},
      </if>
      <if test="toKefuFlag != null">
        TO_KEFU_FLAG = #{toKefuFlag,jdbcType=INTEGER},
      </if>
      <if test="pushFlag != null">
        PUSH_FLAG = #{pushFlag,jdbcType=INTEGER},
      </if>
    </set>
    where CONFIG_CODE = #{configCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.minstone.wechat.domain.WxPublicConfig">
    update MP_YY_PUB_CONFIG
    set PUBLIC_CODE = #{publicCode,jdbcType=VARCHAR},
      CUSMENU_FLAG = #{cusmenuFlag,jdbcType=INTEGER},
      TO_KEFU_FLAG = #{toKefuFlag,jdbcType=INTEGER},
      PUSH_FLAG = #{pushFlag,jdbcType=INTEGER}
    where CONFIG_CODE = #{configCode,jdbcType=VARCHAR}
  </update>
</mapper>