<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minstone.wechat.mapper.WxPublicMapper">

    <resultMap type="com.minstone.wechat.domain.WxPublic" id="wxPublic">
        <id column="WXPUBLIC_CODE" property="wxPublicCode"/>
        <result column="WXPUBLIC_OPENID" property="wxPublicOpenid"/>
        <result column="WXPUBLIC_NAME" property="wxPublicName"/>
        <result column="WXPUBLIC_NICKNAME" property="wxPublicNickName"/>
        <result column="WXPUBLIC_HEADIMG" property="wxPublicHeadImg"/>
        <result column="WXPUBLIC_QRCODE" property="wxPublicQrcode"/>
        <result column="WXPUBLIC_APPID" property="wxPublicAppid"/>
        <result column="WXPUBLIC_APPSERCT" property="wxPublicAppSerct"/>
        <result column="WXPUBLIC_TOKEN" property="wxPublicToken"/>
        <result column="WXPUBLIC_AESKEY" property="wxPublicAeskey"/>
        <result column="WXPUBLIC_URL" property="wxPublicUrl"/>
        <result column="WXPUBLIC_HEADIMG_NAME" property="wxPublicHeadImgName"/>
        <result column="WXPUBLIC_QRCODE_NAME" property="wxPublicQrcodeName"/>
    </resultMap>

    <sql id="basePublic">
        WXPUBLIC_APPID,WXPUBLIC_APPSERCT,WXPUBLIC_TOKEN,WXPUBLIC_AESKEY
    </sql>

    <sql id="allColumn">
       (WXPUBLIC_OPENID,
       WXPUBLIC_NAME,
       WXPUBLIC_NICKNAME,
       WXPUBLIC_HEADIMG,
       WXPUBLIC_QRCODE,
       WXPUBLIC_APPID,
       WXPUBLIC_APPSERCT,
       WXPUBLIC_TOKEN,
       WXPUBLIC_AESKEY,
       WXPUBLIC_URL,
       WXPUBLIC_HEADIMG_NAME,
       WXPUBLIC_QRCODE_NAME)
    </sql>

    <sql id="allValue">
        (#{wxPublicOpenid},
        #{wxPublicName},
        #{wxPublicNickName},
        #{wxPublicHeadImg},
        #{wxPublicQrcode},
        #{wxPublicAppid},
        #{wxPublicAppSerct},
        #{wxPublicToken},
        #{wxPublicAeskey},
        #{wxPublicUrl},
        #{wxPublicHeadImgName},
        #{wxPublicQrcodeName})
    </sql>

    <insert id="insert" parameterType="com.minstone.wechat.domain.WxPublic">
        INSERT INTO
        WXPUBLIC
        <include refid="allColumn" />
        VALUES
        <include refid="allValue" />
    </insert>

    <select id="getByCode" parameterType="int" resultMap="wxPublic">
        SELECT * FROM WXPUBLIC WHERE WXPUBLIC_CODE = #{wxPublicCode}
    </select>

    <select id="getAll" resultMap="wxPublic">
        SELECT * FROM WXPUBLIC
    </select>

    <update id="updateById" parameterType="com.minstone.wechat.domain.WxPublic">
        UPDATE WXPUBLIC SET WXPUBLIC_OPENID = #{wxPublicOpenid},
        WXPUBLIC_NAME=#{wxPublicName},
        WXPUBLIC_NICKNAME = #{wxPublicNickName},
        WXPUBLIC_HEADIMG = #{wxPublicHeadImg},
        WXPUBLIC_QRCODE = #{wxPublicQrcode},
        WXPUBLIC_APPID = #{wxPublicAppid},
        WXPUBLIC_APPSERCT = #{wxPublicAppSerct},
        WXPUBLIC_TOKEN = #{wxPublicToken},
        WXPUBLIC_AESKEY = #{wxPublicAeskey},
        WXPUBLIC_URL = #{wxPublicUrl},
        WXPUBLIC_HEADIMG_NAME = #{wxPublicHeadImgName},
        WXPUBLIC_QRCODE_NAME = #{wxPublicQrcodeName}
        WHERE WXPUBLIC_CODE = #{wxPublicCode}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM
        WXPUBLIC
        WHERE WXPUBLIC_CODE = #{wxPublicCode}
    </delete>
</mapper>